h1 Angular MEAN starter
nav
  a(
    [routerLink]="['/']",
    routerLinkActive="active",
    [routerLinkActiveOptions]="{ exact: true }"
  ) Frontpage
  a(
    [routerLink]="['/todo']",
    routerLinkActive="active"
  ) Todos


