@font-face
  font-family 'Slabo 27px'
  font-style normal
  font-weight 400
  src url('./slabo-27px-v3-latin-regular.eot')
  src local('Slabo 27px'), local('Slabo27px-Regular'),
    url('./slabo-27px-v3-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('./slabo-27px-v3-latin-regular.woff2') format('woff2'),
    url('./slabo-27px-v3-latin-regular.woff') format('woff'),
    url('./slabo-27px-v3-latin-regular.ttf') format('truetype'),
    url('./slabo-27px-v3-latin-regular.svg?#Slabo27px') format('svg')
