h1 Angular 2 Catalyst Starter
nav
    a(
        [routerLink]="['/']",
        [class.active]="router.url === '/'"
    ) Frontpage
    a(
        [routerLink]="['/todo']",
        [class.active]="router.url === '/todo' || router.url.startsWith('/todo/')"
    ) Todos


